<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> // May have to change char set to add accents
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Morena</title>
</head>
<body>
  <div class="app">
      {{{body}}}
    </div>
</body>
</html>