<div class="container">
    <div class="bgleft"></div>
    
    <button class= "button">
    {{!-- <div class= "tooltip", class="tooltip. tooltiptext">Click here to get a quote!</div> --}}
    <h1 class="heading">Mōrena.
    </h1></button>

    <div class="bgbottom"></div>




    

</div>