<div class="container">
    <div class="bgleft"></div>

    <button class="button">
        <a href="/quote/1001">
            <h1 class="heading">MÅrena</h1>
        </a>
    </button>

    <div class="bgbottom"></div>





</div>