<div class="container">
    <div class="bgleft"></div>
    
    <button class= "button">
        <a href="/quote/1001">
    {{!-- <div class= "tooltip", class="tooltip. tooltiptext">Click here to get a quote!</div> --}}
    <h1 class="heading">Mōrena.</h1>
    </a>
    </button>

    <div class="bgbottom"></div>




    

</div>