<div class="container">
    <div class="bgleft"></div>
    
    <button class= "button" type= "button">
    <h1 class="heading">MÅrena.
    </h1></button>

    <div class="bgbottom"></div>




    

</div>