<div class="">

    <div class="bgtop">
        <button class="homebtn" type="button">Mōrena</button>
        <div class="maoritext">
            <p class="maoriquote" id="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi totam dolor sed doloremque iure eum
                minima corporis assumenda veniam, incidunt eius iusto ipsa commodi esse placeat autem quasi perferendis.
                Facere ut sint quos molestias debitis quas sed vero amet consectetur, facilis, dolor dolorem doloremque
                alias dignissimos, quasi esse voluptatum. Maxime?
                <br>
                <br>
                <cite>- Lorem, ipsum.</cite>
            </p>
        </div>
    </div>
    <div class="bgbottomquote">
        <div class="englishtext">
            <p class="englishquote">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati ab facilis aspernatur, saepe
                eligendi ipsa, exercitationem necessitatibus iure vel iste magni autem. Neque suscipit nisi praesentium
                ea fuga maxime reiciendis dolor repellendus laborum consectetur beatae commodi ducimus cumque, voluptate
                adipisci! Minus veritatis id ad animi delectus, dolorem ipsum tenetur quidem dolores, inventore,
                corporis fugiat dignissimos libero eligendi labore! Totam mollitia omnis fugiat magnam facilis
                cupiditate, nesciunt doloribus provident? Voluptas repudiandae molestias libero ab, obcaecati deleniti
                molestiae quibusdam animi hic alias.
                <br>
                <br>
                <cite>- Lorem, ipsum.</cite>
            </p>
        </div>
        <a href="" class="previous">&#171;</a>

            
            
        <a href="" class="next">&#187;</a>
        <button class="addbtn" type="button">Add a new quote</button>
    </div>
    

</div>