body {
  /* height: 100%;
  background: linear-gradient(90deg, rgb(148, 1, 1) 50%, white 50%); */
  font-family: "Merriweather", serif;
  /* border-style: solid;
  /* border-radius: 10rem; */
  /* border-width: 30px; */
  height: 100%;
  margin: 0;
}
/* .container {
  background-color: crimson;
} */

@keyframes example {
  from {
    background-color: rgb(129, 0, 0);
  }
  to {
    background-color: yellow;
  }
}

.heading {
  font-size: 14vw;
  margin: auto;
  text-align: center;
  border-bottom: 20px solid black;
}

html,
.container {
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bgtop {
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  position: absolute;
  /* z-index: -1; */
  background-color: rgb(255, 255, 255);
}

.bgbottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  position: absolute;
  z-index: -1;
  background-color: rgb(128, 0, 0);
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.bgbottomquote {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  position: absolute;
  /* z-index: -1; */
  background-color: rgb(128, 0, 0);
}


.maoriquote {
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.englishquote {
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#text {
  color: rgb(129, 0, 0);
}

.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background: rgba(119, 119, 119, 0.1);
  outline: none
}

a {
  text-decoration: none;
  color: black;
}

.homebtn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  font-family: "Merriweather", serif;
}

.addbtn {
  border: none;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  font-family: "Merriweather", serif;
}

/* .addbtn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  font-family: "Merriweather", serif;
  position: absolute;
  left: 45%;
} */

/* .addbtn {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  font-family: "Merriweather", serif;
  display: flex;
  align-items: center;
  float: center;
  position: relative;
  top: -25px;
  left: 25%;
} */

.previous{
  text-decoration: none;
  color: black;
  font-size: 50px;
  float: left;
  margin-left: 200px;
  margin-top: 6.4em;
}

.next{
  text-decoration: none;
  color: black;
  font-size: 50px;
  float: right;
  margin-right: 200px;
  margin-top: 6.4em;
}